.footer {
  background: #252525;

  @include media(desktop) {
  }
}

.footer-bg-wrapper {
  padding-top: 40px;
  padding-bottom: 16px;
  max-width: 375px;
  margin-left: auto;
  margin-right: auto;

  @include media(desktop) {
    max-width: 1440px;
  }
}

.footer-container {
  @include media(desktop) {
  }
}

.footer-content-wrapper {
  display: flex;
  flex-direction: column;
  gap: 40px;
  margin-bottom: 40px;

  @include media(desktop) {
    flex-direction: row;
    justify-content: space-between;
  }
}

.footer-title {
  font-family: 'Be Vietnam Pro', sans-serif;
  font-weight: 700;
  font-size: 40px;
  line-height: 1.2;
  color: #0e7bc9;

  @include media(desktop) {
    font-size: 64px;
  }
}

.footer-nav {
  @include media(desktop) {
  }
}

.footer-list {
  display: flex;
  flex-direction: column;
  align-items: end;
  gap: 16px;

  @include media(desktop) {
    align-items: end;
  }
}

.footer-link {
  font-family: 'Be Vietnam Pro', sans-serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.5;
  text-align: right;
  color: #fff;
  transition: color 0.3s ease-in-out;

  @include media(desktop) {
    font-size: 18px;
  }

  &:hover,
  &:focus {
  }
}

.footer-bottom-text {
  font-family: 'Be Vietnam Pro', sans-serif;
  font-weight: 400;
  font-size: 11px;
  line-height: 1.5;
  text-align: right;
  color: #fff;

  @include media(desktop) {
    font-size: 12px;
  }
}
