.gameplay-section {
  @include media(desktop) {
  }
}

.gameplay-bg-wrapper {
  padding-top: 64px;
  padding-bottom: 64px;
  max-width: 375px;
  margin-left: auto;
  margin-right: auto;

  @include media(desktop) {
    padding-top: 80px;
    padding-bottom: 80px;
    max-width: 1440px;
  }
}

.gameplay-container {
  @include media(desktop) {
  }
}

.gameplay-title {
  @include media(desktop) {
  }
}

.gameplay-text {
  font-family: 'Be Vietnam Pro', sans-serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.5;
  color: #252525;

  @include media(desktop) {
    font-size: 18px;
  }
}

.gameplay-top-text {
  margin-bottom: 16px;

  @include media(desktop) {
  }
}

.gameplay-bottom-text {
  margin-bottom: 32px;

  @include media(desktop) {
  }
}

.gameplay-list-text {
  font-family: 'Be Vietnam Pro', sans-serif;
  font-weight: 500;
  font-size: 18px;
  line-height: 1.5;
  color: #252525;
  margin-bottom: 16px;

  @include media(desktop) {
    font-size: 20px;
  }
}

.gameplay-list {
  display: flex;
  flex-direction: column;
  gap: 24px;
  margin-bottom: 32px;

  @include media(desktop) {
    flex-direction: row;
    gap: 32px;
    margin-bottom: 24px;
  }
}

.gameplay-list-item {
  @include media(desktop) {
    width: 100%;
    max-width: 352px;
  }
}

.gameplay-item-title-wrapper {
  display: flex;
  align-items: end;
  gap: 8px;
  margin-bottom: 4px;

  @include media(desktop) {
  }
}

.gameplay-item-img {
  min-width: 36px;

  @include media(desktop) {
  }
}

.gameplay-item-title {
  font-family: 'Be Vietnam Pro', sans-serif;
  font-weight: 500;
  font-size: 18px;
  line-height: 1.5;
  color: #252525;

  @include media(desktop) {
    font-size: 20px;
  }
}

.gameplay-item-text {
  font-family: 'Be Vietnam Pro', sans-serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.5;
  color: #252525;

  @include media(desktop) {
    font-size: 18px;
  }
}

.gameplay-img {
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 24px;

  @include media(desktop) {
  }
}

.gameplay-bottom-list-text {
  font-family: 'Be Vietnam Pro', sans-serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.5;
  color: #252525;

  @include media(desktop) {
    font-size: 18px;
  }
}

.gameplay-bottom-list {
  list-style-type: disc;
  padding-left: 25px;
  color: #252525;

  @include media(desktop) {
  }
}

.gameplay-bottom-list-item {
  @include media(desktop) {
  }
}

.gameplay-bottom-item-text {
  font-family: 'Be Vietnam Pro', sans-serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.5;
  color: #252525;

  @include media(desktop) {
    font-size: 18px;
  }
}
