.hero-section {
  @include media(desktop) {
  }
}

.hero-bg-wrapper {
  padding-top: 100px;
  padding-bottom: 225px;
  max-width: 375px;
  margin-left: auto;
  margin-right: auto;
  background-image: url(../img/hero/hero-bg-mob.jpg);
  background-repeat: no-repeat;
  background-position: top center;
  background-size: cover;

  @include media(desktop) {
    padding-top: 120px;
    padding-bottom: 80px;
    max-width: 1440px;
    background-image: url(../img/hero/hero-bg-desk.jpg);
  }
}

.hero-container {
  @include media(desktop) {
  }
}

.hero-content-wrapper {
  @include media(desktop) {
  }
}

.hero-main-title {
  font-family: 'Be Vietnam Pro', sans-serif;
  font-weight: 700;
  font-size: 50px;
  line-height: 1.2;
  color: #0e7bc9;
  margin-bottom: 16px;

  @include media(desktop) {
    font-size: 88px;
    margin-bottom: 8px;
  }
}

.hero-subtitle {
  font-family: 'Be Vietnam Pro', sans-serif;
  font-weight: 500;
  font-size: 24px;
  line-height: 1.3;
  color: #252525;
  margin-bottom: 32px;

  @include media(desktop) {
    font-size: 28px;
    margin-bottom: 32px;
  }
}

.hero-text {
  font-family: 'Be Vietnam Pro', sans-serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.5;
  color: #252525;

  @include media(desktop) {
    font-size: 18px;
    max-width: 544px;
  }
}
