.ridge-section {
  @include media(desktop) {
  }
}

.ridge-bg-wrapper {
  padding-top: 64px;
  padding-bottom: 64px;
  max-width: 375px;
  margin-left: auto;
  margin-right: auto;

  @include media(desktop) {
    padding-top: 80px;
    padding-bottom: 80px;
    max-width: 1440px;
  }
}

.ridge-container {
  @include media(desktop) {
  }
}

.ridge-content-wrapper {
  display: flex;
  flex-direction: column;
  gap: 32px;

  @include media(desktop) {
    flex-direction: row-reverse;
    align-items: center;
    justify-content: start;
  }
}

.ridge-text-wrapper {
  @include media(desktop) {
    max-width: 544px;
  }
}

.ridge-title {
  @include media(desktop) {
  }
}

.ridge-text {
  font-family: 'Be Vietnam Pro', sans-serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.5;
  color: #252525;

  @include media(desktop) {
    font-size: 18px;
  }
}

.ridge-top-text {
  @include media(desktop) {
  }
}

.ridge-img {
  @include media(desktop) {
    min-width: 544px;
  }
}
