.twist-section {
  @include media(desktop) {
  }
}

.twist-bg-wrapper {
  padding-top: 64px;
  padding-bottom: 64px;
  max-width: 375px;
  margin-left: auto;
  margin-right: auto;

  @include media(desktop) {
    padding-top: 80px;
    padding-bottom: 80px;
    max-width: 1440px;
  }
}

.twist-container {
  @include media(desktop) {
  }
}

.twist-content-wrapper {
  display: flex;
  flex-direction: column;
  gap: 32px;

  @include media(desktop) {
    flex-direction: row-reverse;
    align-items: center;
    justify-content: start;
  }
}

.twist-text-wrapper {
  @include media(desktop) {
    max-width: 544px;
  }
}

.twist-title {
  @include media(desktop) {
  }
}

.twist-text {
  font-family: 'Be Vietnam Pro', sans-serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.5;
  color: #252525;

  @include media(desktop) {
    font-size: 18px;
  }
}

.twist-top-text {
  margin-bottom: 24px;

  @include media(desktop) {
  }
}

.twist-bottom-text {
  @include media(desktop) {
  }
}

.twist-list-text {
  @include media(desktop) {
  }
}

.twist-list {
  list-style-type: disc;
  padding-left: 25px;
  color: #252525;
  margin-bottom: 16px;

  @include media(desktop) {
  }
}

.twist-list-item {
  @include media(desktop) {
  }
}

.twist-item-text {
  font-family: 'Be Vietnam Pro', sans-serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.5;
  color: #252525;

  @include media(desktop) {
    font-size: 18px;
  }
}

.twist-img {
  @include media(desktop) {
    min-width: 544px;
  }
}
