<section class="section contact-section" id="contact">
  <div class="contact-bg-wrapper">
    <div class="container contact-container">
      <div class="contact-content-wrapper">
        <div class="contact-text-wrapper">
          <h2 class="section-title contact-title">Contact</h2>
          <p class="contact-cta-text">
            Have feedback or discovered a layout that feels impossible?<br />
            We’d love to hear from you.
          </p>
          <a href="mailto:info@clearborder.space" class="contact-email-link"
            >Email: info@clearborder.space</a
          >
        </div>
        <img
          class="contact-img"
          src="./img/contact/contact-img.png"
          alt="Screenshot of the game"
          width="321"
          height="321"
          loading="lazy"
        />
      </div>
    </div>
  </div>
</section>
