<section class="section experience-section" id="experience">
  <div class="experience-bg-wrapper">
    <div class="container experience-container">
      <div class="experience-content-wrapper">
        <div class="experience-text-wrapper">
          <h2 class="section-title experience-title">Experience</h2>
          <p class="section-subtitle experience-subtitle">
            It’s About Seeing Clearly
          </p>
          <p class="experience-text experience-top-text">
            Open Ridge: Skyline Paths is not about solving fast.<br />
            It’s about understanding.<br />
            <br />
            Each level is a quiet question:<br />
            What is the simplest correct path?<br />
            <br />
            Not the longest.<br />
            Not the safest-looking.<br />
            The true one.
          </p>
        </div>
        <picture>
          <source
            srcset="./img/experience/experience-img-desk.png"
            media="(min-width: 1440px)"
            width="544"
            height="436" />
          <source
            srcset="./img/experience/experience-img-mob.png"
            width="343"
            height="275" />
          <img
            class="experience-img"
            src="./img/experience/experience-img-mob.png"
            alt="Screenshot of the game"
            width="343"
            height="275"
            loading="lazy"
        /></picture>
      </div>
    </div>
  </div>
</section>
