<section class="section gameplay-section" id="gameplay">
  <div class="gameplay-bg-wrapper">
    <div class="container gameplay-container">
      <h2 class="section-title gameplay-title">Core Mechanics</h2>
      <p class="section-subtitle gameplay-subtitle">Drag to Draw</p>
      <p class="gameplay-text">
        You just drag to draw lines between the points. Pretty straightforward,
        but you've got to keep it smooth - every little wobble is on you.
      </p>
      <div class="gameplay-content-wrapper">
        <div class="gameplay-text-wrapper">
          <ul class="gameplay-list">
            <li class="gameplay-list-item">
              <h3 class="gameplay-item-title">Limited Ink</h3>
              <p class="gameplay-item-text">
                Your line length is restricted. Efficiency matters. Waste too
                much, and the structure fails
              </p>
            </li>
            <li class="gameplay-list-item">
              <h3 class="gameplay-item-title">Obstacles Inside the Field</h3>
              <p class="gameplay-item-text">
                There's stuff in the way too - blocks that don't move, some
                shapes that spin around, and other barriers that'll make you
                completely rethink your approach.
              </p>
            </li>
            <li class="gameplay-list-item">
              <h3 class="gameplay-item-title">Border Restriction Rule</h3>
              <p class="gameplay-item-text">
                The outer frame is absolute. Even the slightest touch
                invalidates the attempt.
              </p>
            </li>
            <li class="gameplay-list-item">
              <h3 class="gameplay-item-title">Layered Complexity</h3>
              <p class="gameplay-item-text">
                The first few levels are pretty chill - just learning how to
                space things out. But later on? Man, it gets tricky with
                multiple paths and these super narrow spaces that'll mess with
                your head.
              </p>
            </li>
          </ul>
        </div>
        <picture>
          <source
            srcset="./img/gameplay/gameplay-img-desk.png"
            media="(min-width: 1440px)"
            width="542"
            height="518" />
          <source
            srcset="./img/gameplay/gameplay-img-mob.png"
            width="343"
            height="282" />
          <img
            class="gameplay-img"
            src="./img/gameplay/gameplay-img-mob.png"
            alt="Screenshot of the game"
            width="343"
            height="282"
            loading="lazy"
        /></picture>
      </div>
    </div>
  </div>
</section>
