<section class="section gameplay-section" id="gameplay">
  <div class="gameplay-bg-wrapper">
    <div class="container gameplay-container">
      <h2 class="section-title gameplay-title">Gameplay</h2>
      <p class="section-subtitle gameplay-subtitle">
        A Path Defined by Decisions
      </p>
      <p class="gameplay-text gameplay-top-text">
        Travelers will move forward.<br />
        They always do.
      </p>
      <p class="gameplay-text gameplay-bottom-text">
        It's weird - you're basically nobody in this story, but somehow
        everything hinges on what you decide to do.
      </p>
      <p class="gameplay-list-text">Steps:</p>
      <ul class="gameplay-list">
        <li class="gameplay-list-item">
          <div class="gameplay-item-title-wrapper">
            <img
              class="gameplay-item-img"
              src="./img/gameplay/gameplay-img1.png"
              alt="Number"
              width="36"
              height="36"
            />
            <h3 class="gameplay-item-title">Place Markers</h3>
          </div>
          <p class="gameplay-item-text">
            Subtle indicators that shape direction
          </p>
        </li>
        <li class="gameplay-list-item">
          <div class="gameplay-item-title-wrapper">
            <img
              class="gameplay-item-img"
              src="./img/gameplay/gameplay-img2.png"
              alt="Number"
              width="36"
              height="36"
            />
            <h3 class="gameplay-item-title">Guide Movement</h3>
          </div>
          <p class="gameplay-item-text">Travelers follow logic, not commands</p>
        </li>
        <li class="gameplay-list-item">
          <div class="gameplay-item-title-wrapper">
            <img
              class="gameplay-item-img"
              src="./img/gameplay/gameplay-img3.png"
              alt="Number"
              width="36"
              height="36"
            />
            <h3 class="gameplay-item-title">Protect the Ridge</h3>
          </div>
          <p class="gameplay-item-text">
            One wrong turn leads into open terrain
          </p>
        </li>
      </ul>
      <picture>
        <source
          srcset="./img/gameplay/gameplay-img-desk.png"
          media="(min-width: 1440px)"
          width="1120"
          height="415" />
        <source
          srcset="./img/gameplay/gameplay-img-mob.png"
          width="343"
          height="239" />
        <img
          class="gameplay-img"
          src="./img/gameplay/gameplay-img-mob.png"
          alt="Screenshot of the game"
          width="343"
          height="239"
          loading="lazy"
      /></picture>
      <p class="gameplay-bottom-list-text">Mini points:</p>
      <ul class="gameplay-bottom-list">
        <li class="gameplay-bottom-list-item">
          <p class="gameplay-bottom-item-text">No excess tools</p>
        </li>
        <li class="gameplay-bottom-list-item">
          <p class="gameplay-bottom-item-text">No second chances</p>
        </li>
        <li class="gameplay-bottom-list-item">
          <p class="gameplay-bottom-item-text">Only clarity of thought</p>
        </li>
      </ul>
    </div>
  </div>
</section>
