<section class="section hero-section" id="home">
  <div class="hero-bg-wrapper">
    <div class="container hero-container">
      <div class="hero-content-wrapper">
        <h1 class="hero-main-title">
          Clear Border:<br />
          Line Architect
        </h1>
        <p class="hero-text">
          Okay, so basically you gotta draw lines but whatever you do, don't
          touch the border.<br />
          In Clear Border: Line Architect, you've gotta be really careful with
          each move.<br />
          Connect the points, shape the path, and complete each geometric field
          without ever touching the outer frame. The space is minimal. The rules
          are simple. You've got to be really precise.
        </p>
      </div>
    </div>
  </div>
</section>
