<section class="section modes-section" id="modes">
  <div class="modes-bg-wrapper">
    <div class="container modes-container">
      <div class="modes-content-wrapper">
        <h2 class="section-title modes-title">Game Modes</h2>
        <ul class="modes-list">
          <li class="modes-list-item">
            <p class="modes-item-title">Classic Mode</p>
            <picture>
              <source
                srcset="./img/modes/modes-img1-desk.png"
                media="(min-width: 1440px)"
                width="256"
                height="256" />
              <source
                srcset="./img/modes/modes-img1-mob.png"
                width="343"
                height="343" />
              <img
                class="modes-img"
                src="./img/modes/modes-img1-mob.png"
                alt="Screenshot of the game"
                width="343"
                height="343"
                loading="lazy"
            /></picture>
            <p class="modes-item-text">
              Progress through increasingly complex geometric layouts.
            </p>
          </li>
          <li class="modes-list-item">
            <p class="modes-item-title">Precision Trials</p>
            <picture>
              <source
                srcset="./img/modes/modes-img2-desk.png"
                media="(min-width: 1440px)"
                width="256"
                height="256" />
              <source
                srcset="./img/modes/modes-img2-mob.png"
                width="343"
                height="343" />
              <img
                class="modes-img"
                src="./img/modes/modes-img2-mob.png"
                alt="Screenshot of the game"
                width="343"
                height="343"
                loading="lazy"
            /></picture>
            <p class="modes-item-text">
              Short, high-focus challenges with tighter ink limits and smaller
              margins for error.
            </p>
          </li>
          <li class="modes-list-item">
            <p class="modes-item-title">Zen Mode</p>
            <picture>
              <source
                srcset="./img/modes/modes-img3-desk.png"
                media="(min-width: 1440px)"
                width="256"
                height="256" />
              <source
                srcset="./img/modes/modes-img3-mob.png"
                width="343"
                height="343" />
              <img
                class="modes-img"
                src="./img/modes/modes-img3-mob.png"
                alt="Screenshot of the game"
                width="343"
                height="343"
                loading="lazy"
            /></picture>
            <p class="modes-item-text">
              No timers. No pressure. Just space, lines, and focus.
            </p>
          </li>
          <li class="modes-list-item">
            <p class="modes-item-title">Daily Architect</p>
            <picture>
              <source
                srcset="./img/modes/modes-img4-desk.png"
                media="(min-width: 1440px)"
                width="256"
                height="256" />
              <source
                srcset="./img/modes/modes-img4-mob.png"
                width="343"
                height="343" />
              <img
                class="modes-img"
                src="./img/modes/modes-img4-mob.png"
                alt="Screenshot of the game"
                width="343"
                height="343"
                loading="lazy"
            /></picture>
            <p class="modes-item-text">
              A new layout every day. One clean puzzle. One elegant solution.
            </p>
          </li>
        </ul>
      </div>
    </div>
  </div>
</section>
