<section class="section ridge-section" id="ridge">
  <div class="ridge-bg-wrapper">
    <div class="container ridge-container">
      <div class="ridge-content-wrapper">
        <div class="ridge-text-wrapper">
          <h2 class="section-title ridge-title">Walk The Ridge</h2>
          <p class="section-subtitle ridge-subtitle">Choose Carefully</p>
          <p class="ridge-text ridge-top-text">
            There is always a path.<br />
            But it will not reveal itself easily.<br />
            <br />
            Step into the silence.<br />
            Place the first marker.
          </p>
        </div>
        <picture>
          <source
            srcset="./img/ridge/ridge-img-desk.png"
            media="(min-width: 1440px)"
            width="544"
            height="328" />
          <source
            srcset="./img/ridge/ridge-img-mob.png"
            width="343"
            height="207" />
          <img
            class="ridge-img"
            src="./img/ridge/ridge-img-mob.png"
            alt="Screenshot of the game"
            width="343"
            height="207"
            loading="lazy"
        /></picture>
      </div>
    </div>
  </div>
</section>
