<section class="section twist-section" id="twist">
  <div class="twist-bg-wrapper">
    <div class="container twist-container">
      <div class="twist-content-wrapper">
        <div class="twist-text-wrapper">
          <h2 class="section-title twist-title">The Twist</h2>
          <p class="section-subtitle twist-subtitle">
            Mess Up Once, and You'll Know It
          </p>
          <p class="twist-text twist-top-text">
            There are no walls.<br />
            No warnings.<br />
            <br />
            A misplaced marker<br />
            A delayed decision<br />
            A misunderstood path<br />
            <br />
            And the traveler is gone.
          </p>
          <p class="twist-text twist-list-text">Mini points:</p>
          <ul class="twist-list">
            <li class="twist-list-item">
              <p class="twist-item-text">Paths can mislead visually</p>
            </li>
            <li class="twist-list-item">
              <p class="twist-item-text">Safe routes are not always obvious</p>
            </li>
            <li class="twist-list-item">
              <p class="twist-item-text">Confidence is part of the puzzle</p>
            </li>
          </ul>
        </div>
        <picture>
          <source
            srcset="./img/twist/twist-img-desk.png"
            media="(min-width: 1440px)"
            width="544"
            height="541" />
          <source
            srcset="./img/twist/twist-img-mob.png"
            width="343"
            height="341" />
          <img
            class="twist-img"
            src="./img/twist/twist-img-mob.png"
            alt="Screenshot of the game"
            width="343"
            height="341"
            loading="lazy"
        /></picture>
      </div>
    </div>
  </div>
</section>
